<div class="post">
<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @article_structure.amount %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @article_structure.deleted_at %>
</p>

<%= link_to 'Edit', edit_article_structure_path(@article_structure) %> |
<%= link_to 'Back', article_structures_path %>
</div>