<div class="post">
<h1>Edit Menus</h1>

<!--<table>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>Name</th>-->
      <!--<th colspan="3"></th>-->
    <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
    <!--<% @menus.each do |menu| %>-->
      <!--<tr>-->
        <!--<td><%= menu.name %></td>-->
        <!--<td><%= link_to 'Anzeigen', menu %></td>-->
        <!--<td><%= link_to 'Bearbeiten', edit_menu_path(menu) %></td>-->
        <!--<td><%= link_to 'Löschen', menu, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>-->
      <!--</tr>-->
    <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->

<!--<br>-->

<!---->
<%
   def get_menu(id)
     if id.nil?
       Menu.where("super_menu_id is null")
     else
       Menu.where("super_menu_id = #{id}")
     end
   end
%>
<% def generate_menu(id)
     accu = ""
     menus = get_menu(id)
     if !menus.empty?
       menus.each{ |entry|
         accu += "<li >" +
                 entry.name + " " +
                 link_to('Edit', edit_menu_path(entry)).to_s + " " +
         link_to('Destroy', entry, method: :delete, data: { confirm: 'Sind Sie sicher?' }).to_s + "</li>"
         sub_menus = generate_menu(entry.id)
         if not(sub_menus.empty?)
           accu += sub_menus
         end
       }
     end
     if !accu.empty?
       "<ul>" + accu + "</ul>"
     else
       ""
     end

   end %>

<%= (generate_menu(nil)).to_s.html_safe %>
<%= link_to 'New Menu', new_menu_path %></div>