<h1>Listing shopping_cart_entries</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_cart_entries.each do |shopping_cart_entry| %>
      <tr>
        <td><%= shopping_cart_entry.amount %></td>
        <td><%= link_to 'Show', shopping_cart_entry %></td>
        <td><%= link_to 'Edit', edit_shopping_cart_entry_path(shopping_cart_entry) %></td>
        <td><%= link_to 'Destroy', shopping_cart_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopping cart entry', new_shopping_cart_entry_path %>
