<h1>Anmelden</h1>
<br/><br/>

<div class="post">
    <p>
        <%= form_for(:session, url: login_path) do |f| %>
            <table>
                <tr>
                    <td>E-Mail-Adresse:&nbsp;&nbsp;&nbsp;</td>
                    <td><%= f.text_field :email %></td>
                </tr>
                <tr>
                    <td>Passwort:</td>
                    <td><%= f.password_field :password %></td>
                </tr>
            </table>
            <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            Angemeldet bleiben?<br/><br/>
            <% end %>
            <%= f.submit "Anmelden" %>
        <% end %>
    </p>
    
    <%= viewtag_seperator %>
    
    <p>
        Neuer Kunde? <%= link_to "Hier registrieren!", :signup %>
    </p>
</div>