<h1>Willkommen!</h1>
<br/><br/>

<% @news.reverse.each do |news| %>
    <div class="post">
        <p class="meta">
            <span class="date"><%= news.title %></span>
            <span class="posted"><%= get_german_date(news.created_at.to_date) %></span>
        </p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry">
            <p><%= get_html_safe_string(news.content) %></p>
        </div>

        <% if (admin_user?) %>
            <%= link_to 'Anzeigen', news %> | 
            <%= link_to 'Bearbeiten', edit_news_path(news) %> | 
            <%= link_to 'Löschen', news, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
        <% end %>
    </div>
<% end %>

<br/><br/>

<% if (admin_user?) %>
<%= link_to 'New News', new_news_path %>
<% end %>