<%
force_refresh = true
            
@bills = {}
@articles = {}
if (force_refresh || @articles.empty?)             
  cache_articles_and_bills(@bills, @articles)
end

%>

<% if (admin_user?) %>
    <h1>Assoziationsanalyse</h1>
    <br/><br/>

    <div class="post">
        <%= "Insgesamt wurden #{@bills.size} Verkaufstransaktionen getätigt.".html_safe %><br/><br/>
        
        <table border="1px" bordercolor="#d3d7d9" frame="void" rules="rows" style="width: 580px; border: solid 1px #d3d7d9">
            <tr>
                <td style="padding: 5px;"><strong>Artikelbezeichnung</strong></td>
                <td style="padding: 5px;"></td>
                <td style="padding: 5px;"><strong>Artikelbezeichnung</strong></td>
                <td style="text-align: center; width: 65px; padding: 5px;"><strong>Konfidenz</strong></td>
                <td style="text-align: center; width: 60px; padding: 5px;"><strong>Support</strong></td>
            </tr>
            
            <% association_analysis_data(0.5, 0.5, @articles, @bills).each{|data| %>
                <tr>
                    <td style="padding: 5px;">
                        <% data[0].each{|article| %>
                            <%= link_to article.id, article %>, 
                        <%  } %></td>
                    <td style="padding: 5px;">&rarr;</td>
                    <td style="padding: 5px;">
                        <% data[1].each{|article| %>
                            <%= link_to article.id, article %>, 
                        <%  } %></td>
                    <td style="text-align: center; padding: 5px;"><%= data[5] %></td>
                    <td style="text-align: center; padding: 5px;"><%= data[6] %></td>
                </tr>
            <%} %>
        </table>
    </div>
<% end %>