<%
  def product_structure_output_list(article, parent_amount, accu)
    lower_parts = ArticleStructure.where(upper_part: article)
    if (!lower_parts.empty?)
      accu.push("<ul>")
    end

    lower_parts.each {|item|
      count = parent_amount * item.amount
      accu.push("<li>" + count.to_s + "x " + link_to(item.lower_part.name, item.lower_part) + "</li>")
      product_structure_output_list(item.lower_part, count, accu)
    }

    if (!lower_parts.empty?)
      accu.push("</ul>")
    end

    return accu
  end
%>



<div class="post">
    <table style="width: 100%;">
        <tr>
            <td><h1><%= @article.name %></h1></td>
            <td width="180px" height="150px" align="right"><%= image_tag @article.photo.url(:small) %></td>
        </tr>
    </table>

    <div class="post" style="margin-top: 30px;">
        <p>
          <strong>Produktbezeichnung:<br/></strong>
          <%= @article.name %>
        </p>

        <p>
          <strong>Produktbeschreibung:<br/></strong>
          <%= @article.description %>
        </p>

        <p>
          <strong>Preis:</strong>
          <%= float_to_euro_string(@article.price) %>
        </p>

        <% if (admin_user?) %>
            <p>
              <strong>Erstellt am:</strong>
              <%= @article.created_at %>
            </p>

            <p>
              <strong>Gelöscht am:</strong>
              <%= @article.deleted_at %>
            </p>
        <% end %>
    </div>
    
    <div class="post" style="margin-top: -20px;">
        <p>
          <% product_structure_output = product_structure_output_list(@article, 1, []) %>
          <% if (!product_structure_output.empty?) %>
            <strong>Strukturstückliste:</strong><br/>
            <% product_structure_output.each {|line| %>
              <%= line.html_safe %> <br/>
            <%} %>
          <% end %>
        </p>

        <% if (admin_user?) %>
            <%= link_to 'Bearbeiten', edit_article_path(@article) %> | 
            <%= link_to 'Zurück', articles_path %>
        <% end %>
    </div>
</div>
