<%
  def product_structure_output_list(article, parent_amount, accu)
    lower_parts = ArticleStructure.where(upper_part: article)
    if (!lower_parts.empty?)
      accu.push("<ul>")
    end

    lower_parts.each {|item|
      count = parent_amount * item.amount
      accu.push("<li style=\"margin-bottom: 10px;\">" + count.to_s + "x " + link_to(item.lower_part.name, item.lower_part) + "</li>")
      product_structure_output_list(item.lower_part, count, accu)
    }

    if (!lower_parts.empty?)
      accu.push("</ul>")
    end

    return accu
  end

  def get_association_rule_learning_data
    bills = BillEntry.where(:article => @article).map{|item| item.bill}
    
    association_articles = {}
    self_amount = 0
    bills.each{|item| bill_entry = BillEntry.where(:bill => item)
      bill_entry.each{|item_inner|
        if (item_inner.article != @article)
          association_articles.merge!({item_inner.article => item_inner.amount})\
            {|key, oldval, newval| newval + oldval}
        else
          self_amount = self_amount + item_inner.amount
        end
      }
    }
  
    temp = association_articles.map{|key, val| [key, val]}
    temp.sort!{|a, b| b[1] <=> a[1]}
 
    result = []
    result.push([@article, self_amount])
    result.concat(temp)
    return result
  end

  def association_rule_learning_admin(association_rule_learning_data)
    self_amount = association_rule_learning_data.shift[1];
    
    result = ["Dieser Artikel wurde #{self_amount} mal gekauft, zusammen mit folgenden Artikeln:", "<br/><br/>",
      "<table style=\"margin-left: 20px;\">", "<tr>",
        "<td><strong>Artikelbezeichnung</strong></td>",
        "<td style=\"text-align: center; width: 75px;\"><strong>Menge</strong></td>",
        "<td style=\"text-align: center; width: 75px;\"><strong>Prozent</strong></td>", "</tr>"]
    result.concat(association_rule_learning_data.map{|key, val|
        "<tr><td>#{key.name.to_s}</td>" +
        "<td style=\"text-align: center;\">#{val}</td>" +
        "<td style=\"text-align: center;\">#{(100.0*val/self_amount).round(2)}%</td></tr>"})
    result.push("</table>")
    
    return result
  end

  def association_rule_learning_user(association_rule_learning_data)
    result = []
    
    association_rule_learning_data = association_rule_learning_data[1..4]
    result.push("<div style=\"margin-top: 20px; margin-left: 1px;\">")
    result.concat(association_rule_learning_data.map{|key, val|
        "<div style=\"width: 146px; display: inline-block; vertical-align: top;\">" +
        "<div style=\"width: 125px;\">" + 
        "#{image_tag key.photo.url(:small), size: "125"}" + 
        "#{link_to key.name, key}</div></div>"})
    result.push("</div>")
    
    return result
  end
%>



<div class="post">
    <table style="width: 100%;">
        <tr>
            <td><h1><%= @article.name %></h1></td>
            <td width="180px" height="150px" align="right"><%= image_tag @article.photo.url(:small) %></td>
        </tr>
    </table>

    <div class="post" style="margin-top: 30px;">
        <p>
          <strong>Produktbezeichnung:<br/></strong>
          <%= @article.name %>
        </p>

        <p>
          <strong>Produktbeschreibung:<br/></strong>
          <%= @article.description %>
        </p>

        <p>
          <strong>Preis:</strong>
          <%= float_to_euro_string(@article.price) %>
        </p>
        
        <%= viewtag_seperator %>
        <p>
            <%= form_tag(add_to_shopping_card_path, method: "post") do %>
                <div style="margin-bottom: 10px">
                    Menge:&nbsp;&nbsp;&nbsp;
                    <%= select_tag :amount, options_for_select((1..10).step(1)) %>
                </div>
                <div style="display: none;">
                    <%= text_field_tag :article_id, @article.id %>
                </div>
                <%= submit_tag("Zum Warenkorb hinzufügen") %>
            <% end %>
        </p>
        
        <% association_rule_learning_data = get_association_rule_learning_data %>
        <% if (association_rule_learning_data.size > 1) %>
            <%= viewtag_seperator %>
            <% if (admin_user?) %>
                <strong>Assoziationsanalyse:</strong><br/>
                <% association_rule_learning_admin(association_rule_learning_data).each {|line| %>
                    <%= line.html_safe %>
                <%} %>
            <% else %>
                <strong>Kunden, die diesen Artikel gekauft haben, kauften auch:</strong>
                <% association_rule_learning_user(association_rule_learning_data).each {|line| %>
                    <%= line.html_safe %>
                <%} %>
            <% end %>
        <% end %>
        
        <% product_structure_output = product_structure_output_list(@article, 1, []) %>
        <% if (!product_structure_output.empty?) %>
            <%= viewtag_seperator %>
            <p>
                <strong>Strukturstückliste:</strong><br/>
                <% product_structure_output.each {|line| %>
                    <%= line.html_safe %>
                <%} %>
            </p>
        <% end %>

        <% if (admin_user?) %>
            <%= viewtag_seperator %>
            <p>
              <strong>Erstellt am:</strong>
              <%= get_german_date_time_ordinal(@article.created_at.to_datetime) %>
            </p>

            <% if (!@article.deleted_at.nil?) %>
              <p>
                <strong>Gelöscht am:</strong>
                <%= get_german_date_time_ordinal(@article.deleted_at.to_datetime) %>
              </p>
            <% end %>
            
            <p>
              <%= viewtag_admin %><br/>
              <%= link_to 'Bearbeiten', edit_article_path(@article) %> | 
              <%= link_to 'Zurück', articles_path %>
            </p>
        <% end %>    
    </div>
</div>
