<%
  def product_structure_output(article, parent_amount, accu)
    lower_parts = ArticleStructure.where(upper_part: article)
    if (!lower_parts.empty?)
      accu.push("<ul>")
    end

    lower_parts.each {|item|
      count = parent_amount * item.amount
      accu.push("<li style=\"margin-bottom: 10px;\">" + count.to_s + "x " + link_to(item.lower_part.name, item.lower_part) + "</li>")
      product_structure_output(item.lower_part, count, accu)
    }

    if (!lower_parts.empty?)
      accu.push("</ul>")
    end

    return accu
  end

  def get_association_analysis_output_admin(association_analysis_data)
    min_confidence = 0.00001
    min_support = 0.00001
    
    association_analysis_data = association_analysis_data.reject{
        |entry, bill_count_other, bill_count_both, confidence, support|
        (confidence < min_confidence) || (support < min_support)
    }
    
    result = []
    count_with_self = get_bill_count([@article])
    if (count_with_self > 0)
        result = ["Insgesamt wurden #{Bill.count} Verkaufstransaktionen getätigt.<br/>" +
            "Der aktuelle Artikel kommt in #{count_with_self} dieser Verkaufstransaktionen vor.<br/>" +
            "Folgende Artikel kamen ebenfalls in diesen Verkaufstransaktionen vor:", "<br/><br/>",
            "<table border=\"1px\" bordercolor=\"#d3d7d9\" frame=\"void\" rules=\"rows\" style=\"margin-left: 20px; border: solid 1px #d3d7d9\">", "<tr>",
            "<td style=\"padding: 5px;\"><strong>Artikelbezeichnung</strong></td>",
            "<td style=\"text-align: center; width: 65px; padding: 5px;\"><strong>Konfidenz</strong></td>",
            "<td style=\"text-align: center; width: 60px; padding: 5px;\"><strong>Support</strong></td>", "</tr>"]
        result.concat(association_analysis_data.map{
            |entry, bill_count_other, bill_count_both, confidence, support|
            "<tr><td style=\"padding: 5px;\">#{link_to ((entry.name.size > 50) ? entry.name[0..50].to_s + "..." : entry.name), entry, title: entry.name, rel: entry.name}</td>" +
            "<td style=\"text-align: center; padding: 5px;\">#{confidence.round(2).to_s.sub(".", ",")}%</td>" +
            "<td style=\"text-align: center; padding: 5px;\">#{support.round(2).to_s.sub(".", ",")}%</td></tr>"})
        result.push("</table>")
    else
        result = ["Insgesamt wurden #{Bill.count} Verkaufstransaktionen getätigt.<br/>" +
            "Der aktuelle Artikel kommt in keiner dieser Verkaufstransaktionen vor."]
    end
  
    return result
  end

  def get_association_analysis_output_user(association_analysis_data)
    result = []
    
    association_analysis_data = association_analysis_data[0..3]
    result.push("<div style=\"margin-top: 20px; margin-left: 1px;\">")
    result.concat(association_analysis_data.map{
        |entry, bill_count_other, bill_count_both, confidence, support|
        "<div style=\"width: 146px; display: inline-block; vertical-align: top;\">" +
        "<div style=\"width: 125px;\">" + 
        "#{image_tag entry.photo.url(:small), size: "125"}" + 
        "#{link_to ((entry.name.size > 50) ? entry.name[0..50].to_s + "..." : entry.name), entry, title: entry.name, rel: entry.name}</div></div>"})
    result.push("</div>")
    
    return result
  end

  def get_primary_requirements_analysis_output
    target_date = Date.current
    exponential_smoothing_factor = 0.1
    
    analysis_data = get_primary_requirements_analysis_data(@article, target_date, exponential_smoothing_factor)
    return ["Ist-Absätze für die vorhergenden Monate:<br/>",
        "&nbsp;&nbsp;&nbsp;#{get_german_month_from_date(analysis_data[0][0])}: #{analysis_data[1][0]}<br/>",
        "&nbsp;&nbsp;&nbsp;#{get_german_month_from_date(analysis_data[0][1])}: #{analysis_data[1][1]}<br/>",
        "&nbsp;&nbsp;&nbsp;#{get_german_month_from_date(analysis_data[0][2])}: #{analysis_data[1][2]}<br/>",
        "Soll-Absatz für den Monat #{get_german_month_from_date(analysis_data[0][2])}: #{analysis_data[2].round(2).to_s.sub(".", ",")}<br/><br/>",
        "Exponentielle Glättung für den Monat #{get_german_month_from_date(target_date)}: #{analysis_data[3].round(2).to_s.sub(".", ",")}<br/>",
        "Gleitender Durchschnitt für den Monat #{get_german_month_from_date(target_date)}: #{analysis_data[4].round(2).to_s.sub(".", ",")}"]
  end

  def best_list_output
    result = []
    
    menus_data = get_menus_of_article(@article)
    menus_data.each{|item| place, size = get_place_at_menu(@article, item)
      result.push("Platz #{place} (von #{size}) in " + 
        link_to(item.name, by_menu_path(:menu_id => item.id)).to_s)}

    place, size = get_place(@article)
    result.push("Platz #{place} (von #{size}) in allen Artikeln")
    
    return result.flat_map{|item| [item, "<br/>"]}[0...-1]
  end
%>



<div class="post">
    <table style="width: 100%;">
        <tr>
            <td><h1><%= @article.name %></h1></td>
            <td width="180px" height="150px" align="right"><%= image_tag @article.photo.url(:small) %></td>
        </tr>
    </table>

    <div class="post" style="margin-top: 30px;">
        <p>
          <strong>Produktbezeichnung:<br/></strong>
          <%= @article.name %>
        </p>

        <p>
          <strong>Produktbeschreibung:<br/></strong>
          <%= @article.description %>
        </p>

        <p>
          <strong>Preis:</strong>
          <%= float_to_euro_string(@article.price) %>
        </p>
        
        <%= viewtag_seperator_without_space_bottom %>
        <p>
            <div style="width: 596px;">
                <div style="min-height: 53px; width: 375px; padding-top: 30px; padding-bottom: 30px; margin-top: -13px; margin-bottom: -14px; border-right: solid 1px #d3d7d9; float: left;">
                    <strong>Bestseller-Rang:</strong><br/>
                    <% best_list_output.each{|item| %>
                        <%= item.html_safe %>
                    <% } %>
                </div>
                <div style="width: 178px; padding-top: 17px; padding-bottom: 16px; float: right; text-align: center;">
                    <%= form_tag(add_to_shopping_card_path, method: "post") do %>
                        <div style="margin-bottom: 10px">
                            Menge:&nbsp;&nbsp;&nbsp;
                            <%= select_tag :amount, options_for_select((1..10).step(1)) %>
                        </div>
                        <div style="display: none;">
                            <%= text_field_tag :article_id, @article.id %>
                        </div>
                        <%= submit_tag("Zum Warenkorb hinzufügen") %>
                    <% end %>
                </div>
                <div style="clear: both;"></div>
            </div>
        </p>
        
        <%= viewtag_seperator_without_space_top %>
        <% if (admin_user?) %>
            <strong>Assoziationsanalyse:</strong><br/>
            <% get_association_analysis_output_admin(get_association_analysis_data(@article)).each {|line| %>
                <%= line.html_safe %>
            <%} %>
        <% else %>
            <strong>Kunden, die diesen Artikel gekauft haben, kauften auch:</strong>
            <% get_association_analysis_output_user(get_association_analysis_data(@article)).each {|line| %>
                <%= line.html_safe %>
            <%} %>
        <% end %>
            
        <% if (admin_user?) %>
            <%= viewtag_seperator %>
            <p>
                <strong>Primärbedarfsanalyse:</strong><br/>
                <% get_primary_requirements_analysis_output.each {|line| %>
                    <%= line.html_safe %>
                <%} %>
            </p>
        <% end %>
        
        <% product_structure_output_list = product_structure_output(@article, 1, []) %>
        <% if (!product_structure_output_list.empty?) %>
            <%= viewtag_seperator %>
            <p>
                <strong>Strukturstückliste:</strong><br/>
                <% product_structure_output_list.each {|line| %>
                    <%= line.html_safe %>
                <%} %>
            </p>
        <% end %>

        <% if (admin_user?) %>
            <%= viewtag_seperator %>
            <p>
              <strong>Erstellt am:</strong>
              <%= get_german_date_time_ordinal(@article.created_at.to_datetime) %>
            </p>

            <% if (!@article.deleted_at.nil?) %>
              <p>
                <strong>Gelöscht am:</strong>
                <%= get_german_date_time_ordinal(@article.deleted_at.to_datetime) %>
              </p>
            <% end %>
            
            <p>
              <%= viewtag_admin %><br/>
              <%= link_to 'Bearbeiten', edit_article_path(@article) %> | 
              <%= link_to 'Zurück', articles_path %>
            </p>
        <% end %>    
    </div>
</div>
