<script type="text/javascript">
  function validateForm() {
      var result;
      var val_exponential_smoothing_factor = document.getElementById('exponential_smoothing_factor').value;
      var val_target_date = document.getElementById('target_date').value;
      
      val_exponential_smoothing_factor = val_exponential_smoothing_factor.replace(",", "."); 
      result = (!isNaN(val_exponential_smoothing_factor) && val_exponential_smoothing_factor.toString().indexOf('.') != -1) && (val_exponential_smoothing_factor >= 0.1) && (val_exponential_smoothing_factor <= 0.3);
      if (!result) {
        alert("Glättungsfaktor muss zwischen 0,10 und 0,30 liegen!");
        return false;
      }
      
      result = (val_target_date).match(/^((0\d)|(10)|(11)|(12))\.\d\d\d\d$/);
      if (!result) {
        alert("Monat muss im Format MM.JJJJ angegeben werden (z.B. 11.2014)!");
        return false;
      }
      
      document.getElementById('exponential_smoothing_factor').value = document.getElementById('exponential_smoothing_factor').value.replace(".", ",");
      return true;
  }
</script>

<%
  def product_structure_output(article, parent_amount, accu)
    lower_parts = ArticleStructure.where(upper_part: article)
    if (!lower_parts.empty?)
      accu.push("<ul>")
    end

    lower_parts.each {|item|
      count = parent_amount * item.amount
      accu.push("<li style=\"margin-bottom: 10px;\">" + count.to_s + "x " + link_to(item.lower_part.name, item.lower_part) + "</li>")
      product_structure_output(item.lower_part, count, accu)
    }

    if (!lower_parts.empty?)
      accu.push("</ul>")
    end

    return accu
  end

  def best_list_output
    result = []
    
    menus_data = get_menus_of_article(@article)
    menus_data.each{|item| place, size = get_place_at_menu(@article, item)
      result.push("Platz #{place} (von #{size}) in " + 
        link_to(item.name, by_menu_path(:menu_id => item.id)).to_s)}

    place, size = get_place(@article)
    result.push("Platz #{place} (von #{size}) in allen Artikeln")
    
    return result.flat_map{|item| [item, "<br/>"]}[0...-1]
  end
%>

<div class="post">
    <table style="width: 100%;">
        <tr>
            <td><h1><%= @article.name %></h1></td>
            <td width="180px" height="150px" align="right"><%= image_tag @article.photo.url(:small) %></td>
        </tr>
    </table>

    <div class="post" style="margin-top: 30px;">
        <p>
          <strong>Produktbezeichnung:<br/></strong>
          <%= @article.name %>
        </p>

        <p>
          <strong>Produktbeschreibung:<br/></strong>
          <%= @article.description %>
        </p>

        <p>
          <strong>Preis:</strong>
          <%= float_to_euro_string(@article.price) %>
        </p>
        
        <%= viewtag_seperator_without_space_bottom %>
        <p>
            <div style="width: 596px;">
                <div style="min-height: 53px; width: 375px; padding-top: 30px; padding-bottom: 30px; margin-top: -13px; margin-bottom: -14px; border-right: solid 1px #d3d7d9; float: left;">
                    <strong>Bestseller-Rang:</strong><br/>
                    <% best_list_output.each{|item| %>
                        <%= item.html_safe %>
                    <% } %>
                </div>
                <div style="width: 178px; padding-top: 17px; padding-bottom: 16px; float: right; text-align: center;">
                    <%= form_tag(add_to_shopping_card_path, method: "post") do %>
                        <div style="margin-bottom: 10px">
                            Menge:&nbsp;&nbsp;&nbsp;
                            <%= select_tag :amount, options_for_select((1..10).step(1)) %>
                        </div>
                        <div style="display: none;">
                            <%= text_field_tag :article_id, @article.id %>
                        </div>
                        <%= submit_tag("Zum Warenkorb hinzufügen") %>
                    <% end %>
                </div>
                <div style="clear: both;"></div>
            </div>
        </p>
        
        <%= viewtag_seperator_without_space_top %>
        <% 
            cache_articles_and_bills(true)
            min_support = 0.0
            min_confidence = 0.0
            association_data = association_analysis_data_of(get_cached_article(@article), min_support, min_confidence)
        %>
        
        <% if (admin_user?) %>
            <strong>Assoziationsanalyse:</strong><br/>
            <% bill_count_self = get_bill_count([get_cached_article(@article)]) %>
            <% if (bill_count_self > 0) %>
                Insgesamt wurden <%= get_bill_count_all %> Verkaufstransaktionen getätigt.<br/>
                Der aktuelle Artikel kommt in <%= bill_count_self %> dieser Verkaufstransaktionen vor.<br/>
                Folgende Artikel kamen ebenfalls in diesen Verkaufstransaktionen vor:
                <br/><br/>
                <table border="1px" bordercolor="#d3d7d9" frame="void" rules="rows" style="margin-left: 20px; width: 580px; border: solid 1px #d3d7d9">
                    <tr>
                        <td style="padding: 5px;"><strong>Artikelbezeichnung</strong></td>
                        <td style="text-align: center; width: 65px; padding: 5px;"><strong>Konfidenz</strong></td>
                        <td style="text-align: center; width: 60px; padding: 5px;"><strong>Support</strong></td>
                    </tr>
                    <% association_data.each{|data| %>
                        <tr>
                            <td style="padding: 5px;">
                                <%= data[1][0].link_to("#{(data[1][0].name.size > 55) ? (data[1][0].name[0..55].to_s + "...") : (data[1][0].name)}") %>, 
                            </td>
                            <td style="text-align: center; padding: 5px;"><%= format("%.2f", data[5]).to_s.sub(".", ",") %> %</td>
                            <td style="text-align: center; padding: 5px;"><%= format("%.2f", data[6]).to_s.sub(".", ",") %> %</td>
                        </tr>
                    <% } %>
                </table>
            <% else %>
                Insgesamt wurden <%= get_bill_count_all %> Verkaufstransaktionen getätigt.<br/>
                Der aktuelle Artikel kommt in keiner dieser Verkaufstransaktionen vor.
            <% end %>
        <% else %>
            <% association_data = association_data[0..3] %>
            <strong>Kunden, die diesen Artikel gekauft haben, kauften auch:</strong>
            <div style="margin-top: 20px; margin-left: 1px;">
                <div style="width: 146px; display: inline-block; vertical-align: top;">
                    <% association_data.each{|left, right, bc_left, bc_right, bc_both, left2right_confidence, support| %>
                        <div style="width: 125px;">
                            <% #image_tag right[0].photo.url(:small), size: "125" %>
                            <%= right[0].link_to((right[0].name.size > 55) ? (right[0].name[0..55].to_s + "...") : right[0].name) %>
                        </div>
                    <% } %>
                </div>
            </div>
        <% end %>
            
        <% if (admin_user?) %>
            <%= viewtag_seperator %>
            <p>
                <strong>Primärbedarfsanalyse</strong><br/>
                <%
                  # default values
                  target_date = Date.current
                  exponential_smoothing_factor = 0.1
                  
                  # get parameters if passed
                  if (request.GET.include? "target_date")
                    target_date = get_date_from_german_month_ordinal(params[:target_date].to_s)
                  end
                  if (request.GET.include? "exponential_smoothing_factor")
                    exponential_smoothing_factor = params[:exponential_smoothing_factor].to_s.sub(",", ".").to_f
                  end

                  # correct values of parameters
                  target_date = get_date_from_german_month_ordinal(get_german_month_from_date_ordinal(target_date).to_s)
                  exponential_smoothing_factor = exponential_smoothing_factor.round(2)

                  # generate analysis data
                  analysis_data = get_primary_requirements_analysis_data(@article, target_date, exponential_smoothing_factor)
                %>
                
                <%= form_tag('' , method: "get") do %>
                    <table style="margin-left: 20px; margin-top: 6px; margin-bottom: 20px;">
                        <tr>
                            <td><strong><em>Parameter für die Berechnung:</em></strong>&nbsp;&nbsp;&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Glättungsfaktor für die exponentielle Glättung:</td>
                            <td style="text-align: center"><%= text_field_tag :exponential_smoothing_factor, format("%.2f", exponential_smoothing_factor).to_s.sub(".", ","), size: 7 %></td>
                        </tr>
                        <tr>
                            <td>Schätzung für den Monat:</td>
                            <td style="text-align: center"><%= text_field_tag :target_date, get_german_month_from_date_ordinal(target_date).to_s, size: 7 %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: center"><%= submit_tag("Berechnen", :onclick => "return validateForm();") %></td>
                        </tr>
                    </table>
                <% end %>
            
                <span style="margin-left: 20px">
                    <strong><em>Ergebnisse der Berechnung:</em></strong>
                </span>
            
                <br/>
                
                <table border="1px" bordercolor="#d3d7d9" frame="void" rules="rows" style="margin-left: 20px; margin-top: 6px; width: 580px; border: solid 1px #d3d7d9">",
                    <tr>
                        <td style="padding: 5px;">Ist-Absätze für die vorhergenden Monate:</td>
                        <td style="text-align: center; width: 100px; padding: 5px;"></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">&nbsp;&nbsp;&nbsp;<%= get_german_month_from_date(analysis_data[0][0]) %>:</td>
                        <td style="text-align: center; padding: 5px;"><%= analysis_data[1][0] %>,0 Stück</td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">&nbsp;&nbsp;&nbsp;<%= get_german_month_from_date(analysis_data[0][1]) %>:</td>
                        <td style="text-align: center; padding: 5px;"> <%= analysis_data[1][1] %>,0 Stück</td></tr>
                    <tr>
                        <td style="padding: 5px;">&nbsp;&nbsp;&nbsp;<%= get_german_month_from_date(analysis_data[0][2]) %>:</td>
                        <td style="text-align: center; padding: 5px;"> <%= analysis_data[1][2] %>,0 Stück</td></tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">Soll-Absatz für den Monat <%= get_german_month_from_date(analysis_data[0][2]) %>:</td>
                        <td style="text-align: center; padding: 5px;"><%= format("%.1f", analysis_data[2]).to_s.sub(".", ",") %> Stück</td></tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">Glättungsfaktor für die exponentielle Glättung:</td>
                        <td style="text-align: center; padding: 5px;">&alpha; = <%= format("%.2f", exponential_smoothing_factor).to_s.sub(".", ",") %><br/></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">Exponentielle Glättung für den Monat <%= get_german_month_from_date(target_date) %>:</td>
                        <td style="text-align: center; padding: 5px;"><%= format("%.1f", analysis_data[3]).to_s.sub(".", ",") %> Stück</td></tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">Gleitender Durchschnitt für den Monat <%= get_german_month_from_date(target_date) %>:</td>
                        <td style="text-align: center; padding: 5px;"><%= format("%.1f", analysis_data[4]).to_s.sub(".", ",") %> Stück</td>
                    </tr>
                </table>
            </p>
        <% end %>
        
        <% product_structure_output_list = product_structure_output(@article, 1, []) %>
        <% if (!product_structure_output_list.empty?) %>
            <%= viewtag_seperator %>
            <p>
                <strong>Strukturstückliste:</strong><br/>
                <% product_structure_output_list.each {|line| %>
                    <%= line.html_safe %>
                <%} %>
            </p>
        <% end %>

        <% if (admin_user?) %>
            <%= viewtag_seperator %>
            <p>
              <strong>Erstellt am:</strong>
              <%= get_german_date_time_ordinal(@article.created_at.to_datetime) %>
            </p>

            <% if (!@article.deleted_at.nil?) %>
              <p>
                <strong>Gelöscht am:</strong>
                <%= get_german_date_time_ordinal(@article.deleted_at.to_datetime) %>
              </p>
            <% end %>
            
            <p>
              <%= viewtag_admin %><br/>
              <%= link_to 'Bearbeiten', edit_article_path(@article) %> | 
              <%= link_to 'Zurück', articles_path %>
            </p>
        <% end %>    
    </div>
</div>
