<div id="banner-wrapper"></div>
<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <%= form_tag({controller: "search", action: "new"}, method: "post") do %>
          <%= text_field_tag :q, '', size: 44 %>
          &nbsp;&nbsp;
          <%= submit_tag("Suche") %>
      <% end %>
    </div>
    <div id="menu">
      <ul>
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Warenkorb",   '#' %></li>
        <li><%= link_to "Admin",   '#' %></li>
        <li><%= link_to "Sign Up",   '#' %></li>
        <li><%= link_to "Login",   '#' %></li>

      </ul>
    </div>
  </div>
</div>