<div id="banner-wrapper"></div>
<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <%= form_tag(search_path , method: "get") do %>
          <%= text_field_tag :q, '', size: 35 %>
          &nbsp;
          <%= submit_tag("Suche") %>
      <% end %>
    </div>
    
    <div id='cssmenu'>
      <ul>
        <li><%= link_to "Home", :root %></li>
        <li><%= link_to "Warenkorb", shoppingcard_path %></li>
        
        <% if logged_in? %>
          <li>
          <% if admin_user? %>
            <%= link_to "Admin", '#' %>
            <ul>
              <li><%= link_to "Edit Tags", tags_path %></li>
              <li><%= link_to "Edit Users", users_path %></li>
              <li><%= link_to "Edit Menu", menus_path %></li>
            </ul>
          <% end %>
          </li>
          <li>
            <%= link_to current_user.firstname + " " + current_user.lastname , current_user %>
            <ul>
              <li><%= link_to "Edit Profile" , edit_user_path(current_user)%></li>
              <li><%= link_to 'Logout', :logout, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign Up", :signup %></li>
          <li><%= link_to "Login", :login %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>