<div id="banner-wrapper"></div>
<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <%= form_tag({controller: "search", action: "new"}, method: "post") do %>
          <%= text_field_tag :q, '', size: 44 %>
          &nbsp;&nbsp;
          <%= submit_tag("Suche") %>
      <% end %>
    </div>
    <div id="menu">
      <ul>
        <li><%= link_to "Home",   :root %></li>
        <li><%= link_to "Warenkorb",   '#' %></li>
        <% if logged_in? %>
            <li><%= link_to "Admin",   '#' %></li>
            <li><%= link_to "Logout(" + current_user.firstname + " " + current_user.lastname + ")", :logout, method: "delete" %></li>
        <% else %>
            <li><%= link_to "Sign Up",   :signup %></li>
            <li><%= link_to "Login",   :login %></li>
        <% end %>

      </ul>
    </div>
  </div>
</div>