<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Monumental 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>WebShop</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Archivo+Narrow:400,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=
    # Including the header
    # for changing it please change
    # /layouts/_header.html.erb
    render 'layouts/header'
%>

<% 
    no_redirect_to = ["/login", "/logout", "/signin"]
    if (!request.original_url.nil? && no_redirect_to.all? {|item| !request.original_url.include?(item)})
        session[:return_to] = request.original_url
    end
%>
    
<div id="page" class="container">
    <div id="sidebar">
        <%= render 'layouts/menu' %>
    </div>
    <!-- end #sidebar -->
    
    <div id="content">
        <% if !flash.empty? then %>
            <div class="post">
                <p id="notice"><%= notice %></p>
            </div>
        <% end %>
        
        <%= yield %>
    </div>
    <!-- end #content -->    
</div>
<div id="footer" class="container">
    <p>&copy; 2014 Torben Haug, Andreas Berks. Alle Rechte vorbehalten.<br/>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
