<div class="post">
<h1>Listing bill_entries</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_entries.each do |bill_entry| %>
      <tr>
        <td><%= bill_entry.amount %></td>
        <td><%= link_to 'Anzeigen', bill_entry %></td>
        <td><%= link_to 'Bearbeiten', edit_bill_entry_path(bill_entry) %></td>
        <td><%= link_to 'Löschen', bill_entry, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill entry', new_bill_entry_path %>
</div>