<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @bill_entry.amount %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @bill_entry.unit_price %>
</p>

<%= link_to 'Edit', edit_bill_entry_path(@bill_entry) %> |
<%= link_to 'Back', bill_entries_path %>
