<h1>Registrieren</h1>
<br/><br/>

<div class="post">
    <p>
        <%= form_for(@user) do |f| %>
            <table>
                <tr>
                    <td>Vorname:</td>
                    <td><%= f.text_field :firstname %></td>
                </tr>
                <tr>
                    <td>Nachname:</td>
                    <td><%= f.text_field :lastname %></td>
                </tr>
                <tr>
                    <td>E-Mail-Adresse:</td>
                    <td><%= f.text_field :email %></td>
                </tr>
                <tr>
                    <td>Passwort:</td>
                    <td><%= f.password_field :password %></td>
                </tr>
                <tr>
                    <td>Passwort wiederholen:&nbsp;&nbsp;&nbsp;</td>
                    <td><%= f.password_field :password_confirmation %></td>
                </tr>
            </table>
            <br/>
            <%= f.submit "Registrieren" %>
        <% end %>
    </p>
</div>